{% extends 'tracking/base.html' %}
{% load custom_filters %}

{% block title %}Manager's Cars{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Cars in {{ state }}</h2>
    <form method="get" action="">
        <div class="form-group">
            <label for="rego">Filter by Rego:</label>
            <select name="rego" id="rego" class="form-control" onchange="this.form.submit();">
                <option value="">All Regos</option>
                {% for rego in regos %}
                <option value="{{ rego }}" {% if request.GET.rego == rego %}selected{% endif %}>
                    {{ rego }}
                </option>
                {% endfor %}
            </select>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rego</th>
                <th>Make</th>
                <th>Model</th>
                <th>VIN</th>
                <th>Assigned User</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car.rego }}</td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.vin_number }}</td>
                <td>{{ car.assigned_user|user_display }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No cars found in your state.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'tracking/_pagination.html' %}
</div>
{% endblock %}
